<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div class="alert-message block-message error">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="clearfix">
		<%= f.label :name %>
		<div class="input">
			<%= f.text_field :name %>
			<span class="help-block">
				Give your recipe a name.
			</span>
		</div>
	</div>
	
	<div class="clearfix">
		<%= f.label :content %>
		<div class="input">
			<%= f.text_area :content, :class => "xxlarge", :rows => 6 %>
			<span class="help-block">
				Fill in your recipe content here.
			</span>
		</div>
	</div>
	
	<div class="clearfix">
		<%= f.label :public, "Public?" %>
		<div class="input">
			<%= f.check_box :public, :checked => true %>
			<span class="help-block">
				Is your recipe public?  If checked, it will be searchable and viewable by other users.
			</span>
		</div>
    </div>

	<div class="clearfix">
		<div class="input">
			<%= f.submit "Save Recipe", :class => "btn primary" %> <%= link_to "Cancel", recipes_path, :class => "btn" %>
		</div>
	</div>

<% end %>
