<div class="topbar">
  <div class="topbar-inner">
    <div class="container-fluid">
		<%= link_to root_path, :class => 'brand' do %>
			BrewerLog
		<% end %>
      <ul class="nav">
        <li class="active"><%= link_to "Home", root_path %></li>
		<li><%= link_to 'Public Recipes', recipes_path  %>
		<% if user_signed_in? %>
			<li><%= link_to 'New Recipe', new_recipe_path %></li>
			<li><%= link_to 'My Recipes', recipes_path  %>	
		<% end %>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
		<p class="pull-right">
			<% if user_signed_in? %>
	      		Logged in as <%= link_to current_user.email, edit_user_registration_path %>
				<%= link_to "(Log Out)", destroy_user_session_path, :method => :delete %>
			<% else %>
				Not logged in (<%= link_to "Login", new_user_session_path %>)
			<% end %>
		</p>
    </div>
  </div>
</div>